@model Person
<div class="row">
    <div class="col-sm">
        @Model.Name
    </div>
    <div class="col-sm">
        @Model.City.CityName
    </div>
    <div class="col-sm">
        @Model.PhoneNumber
    </div>
    <div class="col-sm">
        @Model.City.Country.CountryName
    </div>
    <div class="col-sm">
        <p>
            @foreach (PersonLanguage pl in Model.PersonLanguages)
            {
                @pl.LanguageName<br />
            }
        </p>
        

    </div>
    <div class="col-sm">
        @Html.ActionLink("Remove person", "RemovePerson", new { Model.id })<br />
        @Html.ActionLink("Edit person", "EditPerson", new {Model.id})
    </div>
</div>