@model Person
<div class="row">
    <div class="col-sm">
        @Model.Name
    </div>
    <div class="col-sm">
        @Model.City.CityName
    </div>
    <div class="col-sm">
        @Model.PhoneNumber
    </div>
    <div class="col-sm">
        <p>
            @foreach (PersonLanguage pl in Model.PersonLanguages)
            {
            @pl.LanguageName<br />
        }</p>

        <h5>Add new language</h5>
        <form asp-action="AddLanguage" method="post">
            <select asp-for="@Model.PersonLanguages[0].LanguageName" class="form-control" asp-items="ViewBag.Languages"></select>
            @Html.HiddenFor(p => p.id)
            <input type="submit" value="Add langauge" class="btn btn-secondary" />
        </form>
    </div>
    <div class="col-sm">
        @Html.ActionLink("Remove person", "RemovePerson", new { Model.id })
    </div>
</div>