@model IEnumerable<City>
<h1>Cities</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
         
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.CountryName)
            </td>
            <td>
                <a asp-action="EditCity" asp-route-CityID="@item.CityID">Edit city</a><br />
                <a asp-action="RemoveCity" asp-route-CityID="@item.CityID">Remove city</a>
            </td>
          
        </tr>
    }
    </tbody>
</table>